<% if @products.nil? %>
  <p>No products found </p>
<% else %>
<div class="ui four column centered grid">
  <% @products.each do |prod| %>
  <div class="four wide column">
            <h2><%= prod.name %></h2>
            <p><%= prod.caption %></p>
            <%= link_to image_tag(prod.image.url(:large)), details_path(prod) %>
        </div>
  <% end %>
</div>
<% end %>
