// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.vertical.menu{
  height : 100%;
  margin-top : -2px;
  margin-right : 5%;
}

.ui.top.menu {
  margin-bottom : 0px;
}

