<div class="ui left fixed vertical menu">
  <div class="item">
    <div class="header">Product Categories</div>
    <div class="menu">
    <% @categories.each do |cat| %>
      <%= link_to cat.name, categories_path(cat), :class=> "item" %>
    <% end %>
  </div>
 <div class="header">Special Searches</div>
    <div class="menu">
      <%= link_to "New Products", new_path, :class=> "item" %>
      <%= link_to "Recently updated", recently_updated_path, :class=> "item" %>
    </div>
  </div>
</div>
